DB_PORT=5432
DB_USER_DATABASE="ds_proj_user"
DB_DEVICE_DATABASE="ds_proj_device"
DB_USER="postgres"
DB_PASSWORD="postgres"

BACKEND_PORT=3000

DEVICE_PORT=3001

HASH_ALGO="sha256"

JWT_SECRET="mySecret"
JWT_ENC_ALGO="HS256"
JWT_EXPIRY="1 day"

AMQP_HOST="I have my own host"
AMQP_PASS="Get this yourself!"