app.localhost:80 {
    reverse_proxy /user app_user:{$USER_PORT}
    reverse_proxy /device app_device:{$DEVICE_PORT}
    reverse_proxy /monitor app_monitor:{$MONITOR_PORT}
    reverse_proxy / app_frontend:5000
}