app.localhost {
    reverse_proxy /api/user app_user:{$USER_PORT}
    reverse_proxy /api/device app_device:{$DEVICE_PORT}
    reverse_proxy /api/monitor app_monitor:{$MONITOR_PORT}
    reverse_proxy frontend:5000
}