DB_HOST="localhost"
DB_PORT=5432
DB_DATABASE="ds_proj_user"
DB_USER="postgres"
DB_PASSWORD="postgres"

BACKEND_HOST="localhost"
BACKEND_PORT=3000

DEVICE_HOST="localhost"
DEVICE_PORT=3001

HASH_ALGO="sha256"